#error-msg {
    display: none;/**/
    margin: 0 0 10px;
    padding: 5px 10px;
    border: 1px solid #FF6666;
    background-color: #FFEDED;
}
#loading {
    display: none;
}
#weather-icon {
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    float: left;
}
.weather-wrapper {
    display: none;
    width: 240px;
    margin: 0 30px;
    overflow: auto;
}
#weather-main {
    font-family: Arial;
    font-weight: bold;
    color: #000;
}
.weather-text {
    color: #999;    
    text-align: center;
    margin: 10px 20px;
}
.weather-item {
    font-family: Arial;
    text-align: right;
    clear: both;
}
.weather-item p {
    display: inline;
    font-size: 12px;
}
.weather-item .temp_item {
    font-weight: bold;
    font-size: 15px;
}
.sprite-cloud  {background-position: -72px -375px; }
.sprite-rain  {background-position: -288px -375px;}
.sprite-clear  {background-position: -72px -15px;}
.sprite-snow  {background-position: -144px -445px;}
.sprite-na  {background-position: -144px -520px;}