<link rel="stylesheet" href="../css/todayWeatherStyle.css">
<div>
<h1>Today's Weather</h1>
<div id="error-msg">hohoho</div>
<form action="#" id="ask-weather">
	<lable>City: <input type="text" name="city" placeholder="Taipei"/></lable>
	<lable>Country: <input type="text" name="country" placeholder="TW"/></lable>
	<button type="submit">Search</button>
</form>
<h2 id="name"></h2>
<div class="clearfix">
	<div id="weather-icon"></div>
	<div class="weather-text">
		<div id="weather-main"></div>
		<div id="weather-description"></div>
	</div>
</div>
<dl>
	<dt>Temperature</dt>
	<dd id="temp"></dd>
	<dt>Humidity</dt>
	<dd id="humidity"></dd>
</dl>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="../js/todayWeatherController.js"></script>
